@* model storing which data will be rendered by the View *@
@model Exchange.Models.CriptomonedaViewModels.SeleccionCriptomonedasParaCompraViewModel
@{
    ViewData["Title"] = "Selecciona Criptomonedas";
}

<h2>Comprar Criptomonedas</h2>
@* Form to fill in the filters to be used *@
<form asp-controller="Criptomonedas" class="form-horizontal">
    <p>
        <div>
            <label asp-for="criptomonedaNombre"></label>
            <input asp-for="criptomonedaNombre" size="50" />
            <span asp-validation-for="criptomonedaNombre" class="text-danger"></span>

            <label asp-for="Precio"></label>
            <input asp-for="Precio" size="50" />
            <span asp-validation-for="Precio" class="text-danger"></span>

            <label asp-for="PorcentajeVariacion"></label>
            <input type=number step=0.01 asp-for="PorcentajeVariacion" size="50" />
            <span asp-validation-for="PorcentajeVariacion" class="text-danger"></span>

            <label asp-for="criptomonedaRedSeleccionada"></label>
            <select asp-for="criptomonedaRedSeleccionada" asp-items="Model.Red">
                <option value="">All</option>
            </select>
            <input id="filterbyNombreRed" asp-action="SeleccionCriptomonedasParaCompra" type="submit" value="Filter" formmethod="get" />
        </div>
    </p>

    <div id="ModelErrors" asp-validation-summary="All" class="text-danger">@TempData["Error"]</div>

    <table class="table">
        <thead>
            <tr>
                <th width="50%">
                    Nombre
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Red
                </th>
                <th>
                    PorcentajeVariacion
                </th>
                <th align="center" width="10%">
                    Selecciona Criptomoneda
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Criptomonedas.Count() == 0)
            {
                <tr><td id="NoCriptomonedas" colspan="3">No hay criptomonedas disponibles</td></tr>
            }
            else
            {
                @foreach (var item in Model.Criptomonedas)
                {
                    <tr id="Criptomoneda_Nombre_@item.Nombre">
                        <td width="50%">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Red.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PorcentajeVariacion)
                        </td>
                        <td align="center" width="10%">
                            <input type="checkbox" name="IdsToAdd" id="Criptomoneda_@item.ID" value="@item.ID" class="form-control">
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button id="nextButton" asp-action="SeleccionCriptomonedasParaCompra" type="submit" class="btn btn-primary" formmethod="post">Next</button>
    <a asp-action="SeleccionCriptomonedasParaCompra" class="btn btn-default">Cancel</a>
</form>